<template>
  <modal
    name="task-overview-modal"
    :adaptive="true"
    :scrollable="true"
    :width="'90%'"
    :height="'auto'"
    :maxWidth="500"
    @before-open="beforeOpen"
    @closed="closed">
    <template v-if="!taskFetched">
      Loading...
    </template>
    <template v-else>
      <TaskOverview
        :currentTask="currentTask"
        :editTask="editTask"
        :closeModal="closeModal"/>
    </template>
  </modal>
</template>

<script lang="ts">
import Vue from 'vue'

import { mapGetters } from 'vuex'

import TaskOverview from '@/components/TaskOverview.vue'

import { Types, Task, Getters } from '@/store/index'
import TaskModal, { Data } from '@/mixins/TaskModal'

export default Vue.extend<Data, any, any>({
  name: 'TaskModal',
  methods: {
    editTask () {
      this.$modal.hide('task-overview-modal')
      this.$modal.show('task-modal', {
        taskId: this.taskId
      })
    },
    closeModal () {
      this.$modal.hide('task-overview-modal')
    }
  },
  components: {
    TaskOverview
  },
  mixins: [TaskModal]
})
</script>
