<template>
  <modal
    name="task-modal"
    :adaptive="true"
    :scrollable="true"
    :width="'90%'"
    :height="'auto'"
    :maxWidth="500"
    @before-open="beforeOpen"
    @closed="closed">
    <template v-if="!taskFetched">
      Loading...
    </template>
    <template v-else>
      <TaskForm
        :currentTask="currentTask"
        :closeModal="closeModal"
        :dispatchForm="dispatchForm"
        :isEdit="!!taskId"/>
    </template>
  </modal>
</template>

<script lang="ts">
import Vue from 'vue'

import { mapGetters } from 'vuex'

import TaskForm from '@/components/TaskForm.vue'

import { Types, Task } from '@/store/index'

import TaskModal, { Data } from '@/mixins/TaskModal'

export default Vue.extend<Data, any, any>({
  name: 'TaskModal',
  methods: {
    dispatchForm (formData: Task) {
      const type = (this.taskId) ? Types.EDIT_TASK : Types.ADD_TASK

      if (this.taskId) {
        formData.id = this.taskId
      }
      const formDispatched = this.$store.dispatch(type, formData)

      formDispatched.finally(() => {
        this.closeModal()
      })
    },
    closeModal () {
      this.$modal.hide('task-modal')
    }
  },
  components: {
    TaskForm
  },
  mixins: [TaskModal]
})
</script>
