<template>
  <form @submit.prevent="sendForm" class="DefaultForm TaskForm">
    <header class="ModalHeader">
      <h2 class="ModalHeader__title">{{ isEdit ? title : 'New Task' }}</h2>
      <CloseButton :onClick="closeModal" />
    </header>
    <div class="DefaultForm__fieldset">
      <label class="DefaultForm__label" for="title">Title:</label>
      <input
        type="text"
        v-model.trim="title"
        placeholder="Task title"
        @change="validateTitle()"
        id="title"
        required
        class="DefaultForm__input"
      />
      <label class="hasError" v-if="titleError"  for="title">
        {{ titleError }}
      </label>
    </div>
    <div class="DefaultForm__fieldset">
      <label>Description:</label>
      <textarea
        v-model.trim="description"
        class="DefaultForm__textarea"
      ></textarea>
    </div>
    <div class="DefaultForm__fieldset DefaultForm__fieldset--row TaskForm__date">
      <label class="DefaultForm__label" for="day">Set due date:</label>
      <input
        type="text"
        maxlenght="2"
        v-model="day"
        name="day"
        placeholder="DD"
        id="day"
        :class="[
          'DefaultForm__input',
          (dayError) ? 'DefaultForm__input--withErrors' : ''
        ]"
      />
      <input
        type="text"
        maxlenght="2"
        v-model="month"
        name="month"
        placeholder="MM"
        class="DefaultForm__input"
        :class="[
          'DefaultForm__input',
          (monthError) ? 'DefaultForm__input--withErrors' : ''
        ]"
      />
      <input
        type="text"
        maxlenght="2"
        v-model="year"
        name="year"
        placeholder="YYYY"
        class="DefaultForm__input TaskForm__year"
        :class="[
          'DefaultForm__input',
          (yearError) ? 'DefaultForm__input--withErrors' : ''
        ]"
      />
      <label class="hasError" v-if="dueDateError">{{ dueDateError }}</label>
    </div>
    <div class="DefaultForm__fieldset">
      <label class="DefaultForm__label" for="priority">Priority</label>
      <select
        v-model="priority"
        required
        id="priority"
        class="DefaultForm__select TaskForm__priority"
      >
        <option
          v-for="level in levels"
          v-bind:key="level"
          :selected="priority === level"
        >
          {{ level }}
        </option>
      </select>
    </div>
    <div class="DefaultForm__fieldset">
      <label class="DefaultForm__label" for="comments">Comments:</label>
      <textarea
        name="comments"
        placeholder="Place the first task comment"
        v-model="comment"
        id="comments"
        class="DefaultForm__textarea"
      ></textarea>
    </div>
    <div class="DefaultForm__fieldset">
      <button class="Btn DefaultForm__submit">
        {{ isEdit ? 'Edit task' : 'Add task' }}
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import Vue from 'vue'

import moment from 'moment'

import CloseButton from '@/components/CloseButton.vue'

import { Types, Task, PriorityLevels } from '@/store/index'

import {
  changeDatePart,
  isValidDate,
  getDay,
  getMonth,
  getYear
} from '@/helpers/formValidate'

export default Vue.extend({
  name: 'TaskForm',
  props: {
    currentTask: Object,
    dispatchForm: Function,
    currentData: Object,
    closeModal: Function,
    isEdit: Boolean
  },
  async mounted () {
    // const data = await this.getCurrentTask()

    if (!this.currentTask) return

    this.title = this.currentTask.title
    this.description = this.currentTask.description
    this.dueDate = this.currentTask.dueDate
    this.comment = this.currentTask.comment
    this.priority = this.currentTask.priority

    const momentDate = moment(this.dueDate, 'YYYY-MM-DD')
    this.day = String(momentDate.date()).padStart(2, '0')
    this.month = String(momentDate.month() + 1).padStart(2, '0')
    this.year = String(momentDate.year())
  },
  watch: {
    day (newDay) {
      if (Number.parseInt(newDay) < 1) {
        this.dayError = true
        return
      }

      this.dayError = false

      this.updateDueDate()
    },
    month (newMonth) {
      if (
        Number.parseInt(newMonth) < 1 ||
        Number.parseInt(newMonth) > 12
      ) {
        this.monthError = true
        return
      }

      this.monthError = false

      this.updateDueDate()
    },
    year (newYear) {
      this.updateDueDate()

      if (Number.parseInt(newYear) <= 1900) {
        this.yearError = true
        return
      }

      this.yearError = false
    },
    dueDate (newDueDate) {
      if (!isValidDate(newDueDate)) {
        this.dueDateError = 'Invalid date.'
        return
      }

      this.dueDateError = ''
    }
  },
  components: {
    CloseButton
  },
  data () {
    return {
      title: '',
      titleError: '',
      description: '',
      day: '',
      dayError: false,
      month: '',
      monthError: false,
      year: '',
      yearError: false,
      dueDate: '',
      dueDateError: '',
      comment: '',
      priority: PriorityLevels.LOW
    }
  },
  computed: {
    levels: {
      get () { return PriorityLevels }
    }
  },
  methods: {
    sendForm () {
      const formData: Omit<Task, 'id' | 'comments'> = {
        title: this.title,
        description: this.description,
        dueDate: this.dueDate,
        priority: this.priority,
        comment: this.comment
      }

      if (!this.isFormValid()) return

      this.dispatchForm(formData)
    },

    isFormValid (): boolean {
      return (this.validateTitle() &&
      this.validateDueDate())
    },
    validateTitle () {
      if (this.title.length < 1 || this.title.length > 255) {
        this.titleError = 'Title must be between than 1 and 255 characters.'
        return false
      }

      return true
    },
    validateDueDate () {
      if (!isValidDate(this.dueDate, true)) {
        this.dueDateError = 'Invalid date'
        return false
      }

      this.dueDateError = ''
      return true
    },
    updateDueDate () {
      if (
        Number.parseInt(this.day) > 0 &&
        Number.parseInt(this.month) > 0
      ) {
        this.dueDate = `${this.year}-${this.month}-${this.day}`
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.TaskForm {
  padding: 20px;

  &__priority {
    max-width: 160px;
  }

  &__date {
    max-width: 320px;
    .DefaultForm__input {
      flex: 0.8;
      text-align: center;
    }
  }

  &__year.DefaultForm__input {
    flex: 1;
  }
}
</style>>
